* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

button {
    border-radius: 100px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;;
    justify-content: space-around;
    padding: 16px;
    height: 30px;
}

.content {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.bold {
    font-weight: 900;
    font-size: 24px;
}

.awesome {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}


.soft {
    font-size: 18px;
    columns: #E5E7EB;
    font-weight: 300;
}

.navbar-left,.navbar-right {
    display: flex;
    gap: 10px;
    color: #F9FAF8;
}

.left-elements {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding-left: 90px;
}

.content img {
    display: flex;
    height: 300px;
    width: 450px;
    justify-content: center;
    align-self: center;
    padding-right: 90px;
}


.randominfo .top {
    display: flex;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    padding: 10px;
}

.items  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    background: #F9FAF8;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    align-items: center;
    padding: 10px;
}
.container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.container img {
    height: 150px;
    width: 150px;
    border: #3882F6 solid;
}

.container .text   {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #1F2937;
}