* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    height: 30px;
}

.bold {
    font-weight: 900;
    font-size: 24px;
}

.soft {
    font-size: 18px;
    columns: #E5E7EB;
}

.navbar-left,.navbar-right {
    display: flex;
    gap: 10px;
    color: #F9FAF8;
}