* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

button {
    border-radius: 100px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;;
    justify-content: space-around;
    padding: 16px;
    height: 30px;
    flex-wrap: wrap;
}

.content {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 350px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.bold {
    font-weight: 900;
    font-size: 24px;
}

.awesome {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}


.soft {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.navbar-left,.navbar-right {
    display: flex;
    gap: 10px;
    color: #F9FAF8;
}

.left-elements {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding-left: 90px;
}

.content img {
    display: flex;
    height: 300px;
    width: 300px;
    padding-right: 90px;
    flex-wrap: wrap;
}


.randominfo .top {
    display: flex;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    padding: 10px;
}

.items  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    flex-wrap: wrap;
    background: #F9FAF8;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    align-items: center;
    padding-top: 10px;
}
.container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.container img {
    height: 150px;
    width: 150px;
    border: #3882F6 solid;
}

.container .text   {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #1F2937;
}

.quotecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 300px;
    flex-direction: column;
}

.quote {
    display: flex;
    color: #1F2937;  
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    padding: 0 90px;
}

.author {
    display: flex;
    color: #1F2937;
    flex-wrap: wrap;
    font-weight: 800;
    justify-content: center;
    align-self: flex-end;
    padding-right: 60px;

}

.call {
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;

}

.modal {
    display: flex;
    background: #3882F6;
    justify-content: center;
    align-items: center;
    width: 450px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 30px 60px;
    gap: 16px; 
}

.modal button {
    display: flex;
    border: white solid;
    align-self: center;
    font-size: 12px;
}

.first {
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;
}

.second {
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;
    font-size: 14px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;;
    justify-content: center;
    padding: 16px;
    height: 25px;
    flex-wrap: wrap;
}